
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsla(0, 0%, 100%, 0.75);
}
.card{
    color:hsla(0, 0%, 100%, 0.75);
    width: 250px;
    height: 500px;
    padding: 1.5rem;
    align-items: center;
}
.icon {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
h1{
    font-family: "Big Shoulders", sans-serif;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 500;
}
p{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 5rem;
    font-size: 15px;
}

.card:nth-child(1){
    background:hsl(31, 77%, 52%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}
.card:nth-child(2){
    background: hsl(184, 100%, 22%)
   
}
.card:nth-child(3){
    background: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}
button:hover{
     background: transparent;
     color:hsla(0, 0%, 100%, 0.75);
     border: white 1px solid;
}
.btn1{
        background-color:hsla(0, 0%, 100%, 0.75);
        color:hsl(31, 77%, 52%);
        border-color: transparent;
        padding: 0.75rem 2rem;
        border-radius: 2rem;
        font-family: 'Lexend Deca', sans-serif;
        cursor: pointer;
}
.btn2{
    background-color: hsla(0, 0%, 100%, 0.75);
        color:hsl(184, 100%, 22%);
        border-color: transparent;
        padding: 0.75rem 2rem;
        border-radius: 2rem;
        font-family: 'Lexend Deca', sans-serif;
        cursor: pointer;
}
.btn3{
    background-color: hsla(0, 0%, 100%, 0.75);
    color:hsl(179, 100%, 13%);
    border-color: transparent;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}
    
.container{
    margin: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    justify-content: center;
  }



